body {

  font-family: sans-serif;
  background-color: black;
}

img {
  margin: auto;
  width: auto;
}

.map {
	padding-left: 180px;
	padding-top: 100px;

}

form {
  width: 800px;
  height: 450px;
  flex: 1;

}

#wrap {
	display:inline
}
